<div class="container hero-container d-flex justify-content-center align-items-center">
  <div class="center hero-content text-center">


<div class="container text-center py-5">
  <h2 class="hero-title mb-4">γ“γ‚γ‚’θ΄γ„γ¦γ­γ€</h2>

  <% if @title.present? && @artist.present? %>
    <p class="fs-4 mb-4">
      <strong><%= @title %></strong><br>
      <strong>- <%= @artist %></strong>
    </p>

    <% if @cover_url.present? %>
      <div class="mb-4">
        <%= image_tag @cover_url, alt: "Album Cover", width: 300, class: "img-fluid rounded shadow" %>
      </div>

      <% if @track_url.present? %>
        <p>
        <a href="<%= @track_url %>" 
        target="_blank" 
        class="modern-spotify-btn">
       π§ Spotifyγ§θ΄γ
       </a>
        </p>
      <% end %>
    <% else %>
      <p class="text-muted">γ‚Έγƒ£γ‚±γƒƒγƒη”»εƒγε–εΎ—γ§γγΎγ›γ‚“γ§γ—γ</p>
    <% end %>
  <% else %>
    <p class="text-muted">γγ™γ™γ‚γ®ζ›²γγΎγ γ‚γ‚γΎγ›γ‚“</p>
  <% end %>
</div>
</div>
</div>
















